.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: var(--size-3);
  gap: var(--size-2);
  background-color: white;
  border: none;
  border-radius: var(--radius-4);
}

.folder:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.folder:focus {
  outline-color: black;
}

@media (width >= 640px) {
  .folder {
    padding: var(--size-5);
  }
}
