.viewFilesSection {
  display: grid;
  gap: 0;
  padding: 0;
  grid-template-columns: 1fr 3fr;
}

.viewFilesSection section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: red;
  max-height: 85dvh;
  padding: var(--size-4);
}

.viewFilesSection aside {
  background-color: green;
  min-height: 85dvh;
}

.folders {
  display: grid;
  overflow-y: auto;
  flex-grow: 1;
  gap: var(--size-4);
  max-width: 80dvw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (width <= 640px) {
  .viewFilesSection {
    grid-template-columns: 1fr;
  }

  .viewFilesSection aside {
    display: none;
  }
}
