.viewFilesSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--stone-3);
  padding: var(--size-1);
  max-width: 100dvw;
}

.folders {
  display: grid;
  overflow-y: auto;
  flex-grow: 1;
  place-items: center;
  gap: var(--size-4);
  max-width: 90dvw;
  max-height: 80dvh;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.folders p {
  font-weight: var(--font-weight-6);
}

.viewFilesButtons {
  display: flex;
  gap: var(--size-4);
}

.dialogHeader {
  align-self: flex-end;
  padding: var(--size-1);
}

@media (width >= 640px) {
  .folders {
    padding: var(--size-6);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
