.button,
.disabledButton {
  display: flex;
  align-items: center;
  padding: var(--size-3);
  font-size: var(--size-3);
  background-color: var(--accent);
  color: black;
  font-weight: var(--font-weight-6);
  border: none;
  border-radius: var(--radius-3);
  text-decoration: none;
}

.disabledButton {
  filter: brightness(80%);
}

.emptyButton {
  background: none;
  border: none;
}

.button:hover,
.emptyButton:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.disabledButton:hover {
  cursor: not-allowed;
}

.button:active,
.emptyButton:active {
  filter: brightness(75%);
}

.button:focus,
.emptyButton:focus {
  outline: solid black var(--size-1);
}

.emptyButton:focus {
  border-radius: var(--radius-round);
}
