.button {
  display: flex;
  align-items: center;
  padding: var(--size-3);
  font-size: var(--size-3);
  background-color: var(--accent);
  color: black;
  font-weight: var(--font-weight-6);
  border: none;
  border-radius: var(--radius-3);
  text-decoration: none;
}

.button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.button:active {
  filter: brightness(75%);
}

.button:focus {
  outline: solid black var(--size-1);
}
