#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

#root header,
#root footer {
  display: flex;
  justify-content: center;
  color: var(--secondary);
  background-color: var(--accent);
  align-self: stretch;
  padding: var(--size-3);
  font-weight: var(--font-weight-5);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-4);
  gap: var(--size-3);
  min-height: 100%;
}
