#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

#root header,
#root footer {
  display: flex;
  justify-content: center;
  color: var(--secondary);
  background-color: var(--accent);
  align-self: stretch;
  padding: var(--size-3);
  font-weight: var(--font-weight-5);
}
