.popupWindow:open {
  display: flex;
  gap: var(--size-4);
  padding: var(--size-5);
  flex-direction: column;
}

.popupHeader {
  display: flex;
  justify-content: end;
}

.popupHeader button {
  background: none;
  border: none;
}

.popupButtons {
  display: flex;
  justify-content: center;
  gap: var(--size-6);
}

.popupButtons > a {
  padding: var(--size-2);
  font-weight: var(--font-weight-7);
  background-color: var(--stone-2);
  color: var(--black-9);
  text-decoration: none;
}

.fileContainer p {
  display: flex;
  gap: var(--size-2);
  text-align: center;
}
.fileContainer strong {
  font-weight: var(--font-weight-7);
}
